<%- include('../partials/header') %>
 
<main>
    <div class="container">

        <div class="form-div">
            <h5 style="color: #082d1c; font-weight: bolder;">Login</h5>

            <form action="/auth/login" method="POST" class="w-75">
                <input type="email" name="email" placeholder="email" value="<%= old?.email || '' %>" class="form-control" />
                <%- include('../partials/validation', {
                    field: 'email',
                    errors
                }) %>
                <input type="password" name="password" placeholder="password" class="form-control" />
                <%- include('../partials/validation', {
                    field: 'password',
                    errors
                }) %>
                <button type="submit" class="btn btn-action w-75 align-center">Login</button>
            </form>

        </div>
        
        <div class="form-div-text">
            <h1>Welcome Back!</h1>
            <p style="font-size: smaller;">Sign in and let the learning begin!</p>

            <span class="mt-4">
                <h6 style="text-align: center;">Don't have an account yet? </h6>
                <a href="/auth/register" class="btn btn-transparent">Register</a>
            </span>
            
        </div>
    </div>

</main>


<%- include('../partials/footer') %>