<%- include('../partials/header') %>
<main>
    <div class="container">

        <div class="form-div">
            
            <h5 style="font-weight: bolder; color: #082d1c;">Create An Account</h5>

            <form action="/auth/register" method="POST" class="w-75">
                <input class="form-control" type="text" name="username" value="<%= old?.username || '' %>"  placeholder="User Name" />
                <%- include('../partials/validation', {
                    field: 'username',
                    errors
                }) %>

                <input class="form-control" type="email" name="email" value="<%= old?.email || '' %>" placeholder="Email" />
                <%- include('../partials/validation', {
                    field: 'email',
                    errors
                }) %>

                <input class="form-control" type="password" name="password" placeholder="Password" />
                <%- include('../partials/validation', {
                    field: 'password',
                    errors
                }) %>
                
                <select class="form-control" name="role" value="<%= old?.role || '' %>">
                    <option value="student">Student</option>
                    <option value="instructor">Instructor</option>
                </select>
                <%- include('../partials/validation', {
                    field: 'role',
                    errors
                }) %>

                <button type="submit" class="btn btn-action w-75 align-center">Sign Up</button>
            </form>        
        </div>
    
        <div class="form-div-text">
            <h1>Get Started</h1><br>
            
            <span>
                <p style="font-size: smaller;">Already have an account? </p>
                <a href="/auth/login" class="btn btn-transparent">Login</a>
            </span>
        </div>
    </div>

</main>


<%- include('../partials/footer') %>