<%- include('../partials/header') %>

<div class="container dashboard">

    <!-- HEADER -->
    <div class="d-flex align-center flex-column"
         style="justify-content: space-between; margin-bottom: 20px;">

        <h2>Welcome, <%= user.name %></h2>
        
        <!-- USER INFO -->
        <div class="card user-info">
                <span><strong>Username:</strong> <%= user.name %></span>
                <span><strong>Email:</strong> <%= user.email %></span>
                <span><strong>Role:</strong> <%= user.role %></span>
        </div> 
    </div>
 
    <div>
    <!-- COURSES -->
    <% if (courses && courses.length > 0) { %>

        <div class="d-flex"
             style="justify-content: space-between; margin-bottom: 15px; align-items: center;">

            <h3>My Courses</h3>

            <div class="search-container">
                <form action="/dashboard/instructor" method="GET" class="mb-3">
                    <div class="input-group">
                        <input
                            type="text"
                            name="q"
                            class="form-control"
                            placeholder="Search enrolled courses..."
                            value="<%= searchTerm || '' %>"
                        >

                        <button class="btn btn-action">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>

            <a href="/courses/create" class="btn btn-action">
                <i class="bi bi-plus"></i> Create Course
            </a>

        </div>

        <div class="grid grid-auto">

            <% courses.forEach(c => { %>

                <div class="card course">

                    <h4><%= c.title %></h4>
                    <p><%= c.description %></p>

                    <a href="/courses/<%= c._id %>" class="btn btn-primary w-75" style="align-self: center;">
                        View Details
                    </a>

                </div>
                
            <% }) %>

        </div>

        <!-- ========================= -->
        <!-- STUDENTS TABLE -->
        <!-- ========================= -->
        <h3 class="mt-3">My Students</h3>
        <% if (enrollments && enrollments.length > 0) { %>

            <div class="card mt-4" style="overflow-x:auto;">

                <table style="width: 100%; border-collapse: collapse;">

                    <thead>
                        <tr style="text-align: left; border-bottom: 1px solid #ddd;">
                            <th style="padding: 10px;">Student Name</th>
                            <th style="padding: 10px;">Email</th>
                            <th style="padding: 10px;">Course</th>
                            <th style="padding: 10px">Description</th>
                            <th style="padding: 10px;">Status</th>
                        </tr>
                    </thead>

                    <tbody>

                        <% enrollments.forEach(e => { %>

                            <tr style="border-bottom: 1px solid #eee;">

                                <td style="padding: 10px;">
                                    <%= e.student?.name %>
                                </td>

                                <td style="padding: 10px;">
                                    <%= e.student?.email %>
                                </td>

                                <td style="padding: 10px;">
                                    <%= e.course?.title %>
                                </td>

                                <td style="padding: 10px;">
                                    <%= e.course?.description %>
                                </td>

                                <td style="padding: 10px;">
                                    <%= e.status %>
                                </td>

                            </tr>

                        <% }) %>

                    </tbody>

                </table>

            </div>

        <% } else { %>

            <p style="margin-top: 30px; color: gray;">
                No students enrolled in your courses yet.
            </p>

        <% } %>


    <% } else { %>

        <div class="empty-state">

            <h3>No courses found</h3>
            <p>You haven’t created any courses yet.</p>

            <a href="/courses/create" class="btn btn-action">
                <i class="bi bi-plus"></i> Add Course
            </a>

        </div>

    <% } %>
    </div>
</div>

<%- include('../partials/footer') %>