<%- include('../partials/header') %>

<div class="container">

    <div class="card course" style="margin-top: 20px; min-width: 40%;">

        <!-- TITLE -->
        <h2>
            <%= course.title %>
        </h2>

        <!-- DESCRIPTION -->
        <p>
            <%= course.description %>
        </p>

        <!-- COURSE INFO -->
        <div class="course-info">

            <p>
                <strong>Instructor:</strong>
                <%= course.instructor?.name %>
            </p>

            <p>
                <strong>Credits:</strong>
                <%= course.credits %>
            </p>

        </div>

        <!-- STUDENT ACTION -->
        <% if (user && user.role === 'student') { %>

            <% if (isEnrolled) { %>

                <!-- UNENROLL -->
                <form action="/enrollments/<%= course._id %>/unenroll" method="POST">
                    <button type="submit" class="btn btn-primary w-50">
                        Unenroll
                    </button>
                </form>

            <% } else { %>

                <!-- ENROLL -->
                <form action="/enrollments/<%= course._id %>" method="POST">
                    <button type="submit" class="btn w-50">
                        Enroll
                    </button>
                </form>

            <% } %>

        <% } %>

        <!-- INSTRUCTOR / ADMIN ACTION -->
        <% if (user && (user.role === 'instructor' || user.role === 'admin')) { %>

        <div class="d-flex flex-column w-75" style="align-self: center;">

                <!-- UPDATE -->
                <a href="/courses/update/<%= course._id %>" class="btn btn-primary w-100">
                    Update
                </a>

                <!-- DELETE -->
                <form action="/courses/<%= course._id %>?_method=DELETE" method="POST" class="mt-2 p-0">
                    <button type="submit" class="btn btn-warning w-100">
                        Delete
                    </button>
                </form>

            </div>

        <% } %>

        <!-- BACK -->
        <div style="margin-top: 15px; text-align: center;">
            <a href="/courses" class="btn btn-secondary w-50">
                Back
            </a>
        </div>

    </div>

</div>

<%- include('../partials/footer') %>